Course 1/Overview/Overview.aux
Course 1/Overview/Overview.fdb_latexmk
Course 1/Overview/Overview.fls
Course 1/Overview/Overview.log
Course 1/Overview/Overview.out
Course 1/Overview/Overview.synctex.gz
Course 1/Week 1/C1W1.aux
Course 1/Week 1/C1W1.fdb_latexmk
Course 1/Week 1/C1W1.fls
Course 1/Week 1/C1W1.log
Course 1/Week 1/C1W1.out
Course 1/Week 1/C1W1.synctex.gz
Course 1/Week 1/C1W1.toc